*, *::before, *::after {
  box-sizing: border-box;
  margin: 0px;
}

@font-face {
    font-family: 'neuropolregular';
    src: url('fonts/neuropol-webfont.woff2') format('woff2'),
         url('fonts/neuropol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    padding: 0;
}

.card-container {
    display: flex;
    flex-direction: column;
    background-image: url("./images/nick-kimel--NuLYuc0d3k-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 130vh;
    min-width: 35vw;
}

.logo {
    display: flex;
    background-color: rgba(54, 54, 54, 0.6);
    justify-content: center;
    align-items: center;
    padding: 16px 0 16px 0;
    margin-top: 220px;
    font-family: 'neuropolregular';
    font-size: 40px;
    color: white;
    letter-spacing: 0.1em;
}

.logo > h1 {
    padding: 0px;
}

.logo > img {
    max-height: 120px;
}

.card-container > p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: small;
    color: white;
    opacity: 0.9;
    margin: 8px;
    margin-top: auto;
}

.card-container > p > a {
    color: inherit;
}





.main-text {
    background-color: rgb(241, 241, 241);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info {
    min-height: 220px;
}

form {
    background-color: white;
}